@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Open+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  #hero-video {
    height: 100vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.animated-component {
    opacity: 0.2;
    transform: translateY(50px);
    transition: transform 300ms ease;
    transition-delay: 100ms;
    animation: fadeIn 1s ease-in-out;
  }
  
  .animated-component.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #coming-soon {
    height: 60vh;
    margin: 0 auto;
  }

  .coming-soon-message {
    color: #3e5b91;
  }
  

  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #069af0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #069aed;
  }