@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-component {
    opacity: 0.2;
    transform: translateY(50px);
    transition: transform 300ms ease;
    transition-delay: 100ms;
    animation: fadeIn 1s ease-in-out;
  }
  
  .animated-component.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #coming-soon {
    height: 60vh;
    margin: 0 auto;
  }

  .coming-soon-message {
    color: #3e5b91;
  }
  